<h1>Szczegóły oferty</h1>
  <p>
  <%= "Przedmiot: #{@offer.title}" %>
  </p>
  <p>
  <%= "Cena: #{@offer.price}" %>
  </p>
  <p>
  <%= "Opis: #{@offer.content}" %>
  </p>
  <p>
  <%= image_tag ( @s nippet.image_url.to_s) %>
  </p>
  <h3>
   <%= link_to 'Strona główna', offers_path %>
  </h3>
